<form #form="ngForm" (submit)="onSubmit(form)">   
    <div class="wrappage">
        <div class="main-content space-padding-tb-70">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12">
                        <div class="customer-page">
                            <div class="title-page">
                                <h3>Register</h3>     
                            </div>
                            <div class="form-customer form-login">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Username or email address *</label>
                                    <input type="email" class="form-control form-account"
                                    #name="ngModel" name="name"
                                    [(ngModel)]="service.RegisterFormData.name"
                                    [required]="true" [minlength]="4"> 

                                    <div class="helper-text red-text">
                                        <span *ngIf="name.errors?.['required'] && name.touched">
                                            login is required.
                                        </span>                
                                        <span *ngIf="name.errors?.['minlength'] && name.touched">
                                            login must be at least 4 characters long.
                                        </span>
                                    </div>

                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Password *</label>
                                    <input type="password" class="form-control form-account"
                                    #password="ngModel" name="password"
                                    [(ngModel)]="service.RegisterFormData.password"
                                    [required]="true" [minlength]="4">      
                        
                                    <div class="helper-text red-text">
                                        <span *ngIf="password.errors?.['required'] && name.touched">
                                            password is required.
                                        </span>                
                                        <span *ngIf="password.errors?.['minlength'] && name.touched">
                                            password must be at least 4 characters long.
                                        </span>
                                    </div>                                    
                                </div>  

                                <div class="form-group">
                                    <label for="exampleInputPassword1">Confirm Password *</label>
                                    <input type="password" class="form-control form-account"
                                    #confirmPassword="ngModel" name="confirmPassword"
                                    [(ngModel)]="service.RegisterFormData.confirmPassword"
                                    [required]="true" [minlength]="4">
                        
                                    <div class="helper-text red-text">
                                        <span *ngIf="confirmPassword.errors?.['required'] && name.touched">
                                            confirmPassword is required.
                                        </span>                
                                        <span *ngIf="confirmPassword.errors?.['minlength'] && name.touched">
                                            confirmPassword must be at least 4 characters long.
                                        </span>
                                        <div *ngIf="confirmPassword.errors?.['passwordMismatch'] && password.touched">
                                            Passwords do not match.
                                        </div>
                                    </div>                                   
                                </div>  

                                <button type="submit" class="btn-login hover-white"
                                    [disabled]="form.invalid || form.disabled" >Register
                                </button>
                            
                            </div>
                            <span class="divider"></span>
                            <p href="" class="btn link-button create-account hover-black" routerLink="/login">Sign In</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>